
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";



// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

p {
	margin: 10px;
    color: $color-principal;


    a {
	color: #color-principal;
	background-color: #color-principal;
	border: 1px solid $color-secundario;

    &:hover{
       color: $color-secundario;
       border: 1px solid $color-secundario;


    }


	}

}

